body{
    background:black;
    color:antiquewhite;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight: 20;
    line-height:2em;
   margin-top:130px;
    text-align:center;

   
}

.textright {
    text-align: right;
    padding-left: 20%;
    
}

.textleft {
    text-align:left;
}

.textcenter { 
    text-align: center;
}

p {
    margin:100px;
    
}

img {
    align:center;
}